
:root {
    --celeste-arg: #74acdf;
    --blanco-arg: #ffffff;
    --card-bg: rgba(26, 29, 36, 0.95);
    --accent-green: #00c853;
    --azul-civil: #007bff;
    --rojo-impostor: #ff3d00;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, var(--celeste-arg) 33%, var(--blanco-arg) 33%, var(--blanco-arg) 66%, var(--celeste-arg) 66%);
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    display: flex; justify-content: center; align-items: center; min-height: 100vh;
}

body::before {
    content: ""; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5); z-index: -1;
}

#game-container { width: 100%; max-width: 420px; padding: 15px; }

.screen { width: 100%; animation: fadeIn 0.3s; text-align: center; }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.main-title { font-size: 2rem; font-weight: 900; margin-bottom: 25px; text-shadow: 2px 2px 10px rgba(0,0,0,0.5); }

.menu-card { background: var(--card-bg); border-radius: 15px; padding: 15px; margin-bottom: 12px; text-align: left; border: 1px solid #333; }
.card-header { display: flex; align-items: center; gap: 10px; margin-bottom: 10px; }
.card-title { font-weight: 600; font-size: 0.8rem; color: #aaa; text-transform: uppercase; }

input { width: 100%; padding: 12px; border-radius: 10px; border: 1px solid #444; background: #000; color: white; box-sizing: border-box; }
.input-group { display: flex; gap: 8px; margin-top: 10px; }

.btn-small-add { background: #2575fc; color: white; border: none; padding: 0 15px; border-radius: 10px; font-weight: bold; cursor: pointer; }

ul { list-style: none; padding: 0; max-height: 120px; overflow-y: auto; margin-top: 10px; }
.player-item { background: rgba(255,255,255,0.05); padding: 8px; border-radius: 5px; margin-bottom: 4px; display: flex; justify-content: space-between; }

.settings-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; }
.select-style { background: #000; color: white; border: 1px solid #444; border-radius: 5px; padding: 5px; }

.btn-start-game { background: var(--accent-green); color: white; width: 100%; border: none; border-radius: 15px; padding: 18px; font-size: 1.2rem; font-weight: 800; cursor: pointer; margin-top: 15px; }
.btn-sec { background: rgba(255,255,255,0.1); color: white; border: 1px solid #fff; width: 100%; padding: 10px; border-radius: 10px; margin-top: 10px; cursor: pointer; }

#timer { font-size: 4rem; font-weight: bold; color: var(--accent-green); }
.word-card { background: #000; border: 2px dashed var(--celeste-arg); border-radius: 20px; padding: 50px 10px; margin: 20px 0; cursor: pointer; font-size: 1.2rem; }

.txt-civil { color: var(--azul-civil); font-weight: bold; }
.txt-impostor { color: var(--rojo-impostor); font-weight: bold; }
.hidden { display: none !important; }
.grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; }
